@font-face {  /* Команда CSS для описания шрифта */
    font-family: "Inter";  /* Название семейства шрифта */
    font-style: normal;  /* Начертание */
    font-weight: 400;  /* Жирность шрифта */
    src: url("./Inter-Regular.woff") format("woff"),  /* Перечисление источников шрифтов с их форматами */
    url("./Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./Inter-Medium.woff") format("woff"),
    url("./Inter-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("./Inter-Black.woff") format("woff"),
    url("./Inter-Black.woff2") format("woff2");
}
